@import '~styles/_variables.scss';
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

#calculator .explanation .card {
  border: 1px solid $border-color;
  border-top: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  h4 {
    margin-top: 0.5em;
  }

  code {
    margin-left: 0.2em;
  }

  #changelog {
    padding-bottom: 1.25rem;
    font-style: italic;
  }
  
  #calculation-explanation {
    border: 1px solid $border-color;
    padding: 1em;
    margin: 1em 0;
    background-color: $gray-100;


    #calculation-breakdown {
      margin-left: 2em;
    }

    li {
      margin-bottom: 0.5em;
    }
  }

  #additional-precautions {
    li {
      margin-bottom: 0.2em;
    }
  }
}
