# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# typechecking
/typecover

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.venv
.prevalence_data.json
.secure-keys

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# i18next backup files
src/locales/*_old.json

# python
__pycache__/
/.coverage

# personal tools developers might use
/.envrc
/.nvmrc
/.python-version
/tsfmt.json
/Makefile

# emacs
\#*

# vim
**.swp
**.swo

# test output
computed_scenarios*.json

# jupyter
.ipynb_checkpoints
