// Override default variables before the import
@import './variables.scss';

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

@mixin mobile {
  @media (max-width: 599px) { @content; }
}

@mixin desktop {
  @media (min-width: 600px) { @content; }
}

html, body, #root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#root {
  justify-content: space-between;
}

input,
select {
  color: $gray-800 !important;
}

a {
  text-decoration: underline;
}

.footer {
  width: 100%;
  line-height: 1.2;
  padding: 30px 0;
  margin-top: 20px;
  background-color: $gray-300;
  border-top: 1px solid $gray-400;

  p {
    margin: 10px 0;
  }
}

// Layout overrides

.navbar {
  padding-left: 0;
  padding-right: 0;

  a {
    text-decoration: none;
  }
}

.navbar-brand {
  font-family: 'Roboto Slab';
  font-size: 30px;
}

.nav-link {
  padding: 0.5rem 0 !important;
  margin: 0 0.5rem;
  border-bottom: 2px solid transparent;
  letter-spacing: 1px;

  &.active {
    border-bottom: 2px solid $primary;
  }
}

// Home page

// Calculator
#calculator {
  #calculator-fields {
    .col-md-12 {
      margin-bottom: 30px;
    }
  }

  // Colorful section headers
  .card header {
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  header#location {
    background: $primary;
  }

  header#person-risk {
    background: $indigo;
  }

  header#activity-risk {
    background: $cyan;

    @include mobile {
      margin-top: 30px;
    }
  }

  .card {
    border: none;
    background: lighten($gray-200, 1.5);
    border-radius: 8px;
  }

  // Card subheader
  .subheading {
    padding-bottom: 15px;
    border-bottom: 1px solid $gray-300;
    margin-bottom: 15px;
    @include desktop {
      height: 100px;
    }
  }

  // Equal height columns
  .card {
    height: 100%;
  }

  // Empty state
  .card-body {
    @include desktop {
      display: flex;
      flex-direction: column;
    }
  }

  .empty {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  // Tooltip button/badge styles
  .form-group {
    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .badge {
      cursor: pointer;
      border-radius: 12px;
      width: 20px;
    }
  }
}

// Whitepaper

#paperPage {
  font-size: 18px;
  line-height: 25px;
  max-width: 850px;

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab';
    font-weight: 700;
    color: $primary;
  }

  #pageTitle {
    margin-bottom: 36px;
  }

  .sectionIndicator {
    margin-bottom: 0;
    color: $gray-500;
    font-size: 18px;
    font-weight: 700;
    font-family: $font-family-sans-serif;
  }

  table {
    margin: 40px 0;
    table-layout: fixed;
  }

  th {
    border-bottom: 1px solid $gray-500;
  }

  td, th {
    border-right: 1px solid $gray-500;
    padding: 10px;
    @include desktop {
      min-width: 200px;
    }

    &:last-child {
      border-right: none;
    }
  }

  tr:nth-child(2n) {
    background: $gray-200;
  }

  .calloutText {
    text-align:center;
    font-size:1.5em;
    line-height: 1.5em;
    margin: 30px 100px;
  }

  hr.footnotes-sep {
    margin: 40px 0;
  }
  section.footnotes {
    font-size: 14px;
    max-width: 600px;
  }
}