// Override default variables before the import
@import './variables.scss';
@import "~rfs/scss";

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

@mixin mobile {
  @media (max-width: 599px) { @content; }
}

@mixin desktop {
  @media (min-width: 600px) { @content; }
}

html, body, #root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#root {
  justify-content: space-between;
  overflow: hidden;
}

input,
select {
  color: $gray-800 !important;
}

a {
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}

.footer {
  width: 100%;
  line-height: 1.2;
  padding: 30px 0;
  margin-top: 20px;
  background-color: $gray-300;
  border-top: 1px solid $gray-400;

  p {
    margin: 10px 0;
  }
}

// Layout overrides

.navbar {
  padding-left: 0;
  padding-right: 0;

  .navbar-brand {
    @include media-breakpoint-down(md) {
      font-size: 25px;
    }
  }
  a {
    text-decoration: none;
  }
}

.navbar-brand {
  font-family: 'Roboto Slab';
  font-size: 30px;
}

.nav-link {
  padding: 0.5rem !important;
  margin: 0;

  border-bottom: 2px solid transparent;
  letter-spacing: 1px;

  &.active {
    border-left: 2px solid $primary;
  }

  @media (min-width: 768px) {
    padding: 0.5rem 0 !important;
    margin: 0 0.5rem;

    &.active {
      border-left: none;
      border-bottom: 2px solid $primary;
    }
  }

}

.warning {
  border: 2px solid $warning-border;
  padding: 10px;
  margin: 0 -12px 1.5rem -12px;
  background-color: $warning-fill;
}

// Home page

#first-time-user-introduction {
  padding-top: 1em;
}



.accent {
  line-height: 1em;
  overflow: hidden;
  font-weight: bold;
}
.accent span {
  display: inline-block;
  position: relative;  
}
.accent span:after {
  content: "";
  position: absolute;
  height: 50%;
  border-bottom: 1px solid #aaa;
  top: 0;
  width: 9999px;
}
.accent span:after {
  left: 100%;
  margin-left: 15px;
}

.expandable-header {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.5em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

/* Firefox */
input[type=number] {
 -moz-appearance: textfield;
}

// Calculator
#calculator {
  #calculator-introduction {
    padding: 20px;
    font-size: $h4-font-size;
    position: relative;

  }

  .col-md-12 {
    margin-bottom: 30px;
  }

  .calculator-buttons {
    text-align: right;
  }

  // Colorful section headers
  .card header {
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    @include font-size(1.2rem);
  }
  header#location {
    background: $primary;
  }

  header#activity-risk {
    background: $indigo;
  }

  .card {
    border: none;
    background: lighten($gray-200, 1.5);
    border-radius: 8px;

    .warning {
      border: 2px solid $warning-border;
      padding: 8px;
      margin: 10px 0;
      background-color: $warning-fill;
    }
    .calculator-params {

      h3 {
        margin: 0 0 0.6em 0;
      }
    }

  }

  // Card subheader
  .subheading {
    padding-bottom: 15px;
    border-bottom: 1px solid $gray-300;
    margin-bottom: 15px;
    @include desktop {
      height: 100px;
    }
  }

  // Equal height columns
  .card {
    height: 100%;
  }

  // Empty state
  .card-body {
    @include desktop {
      display: flex;
      flex-direction: column;
    }
  }

  #prevelance-details {
    input.form-control[readonly] {
      color: $gray-500 !important;
    }

    .prevelance-result.card {
      height: auto;
      // background-color: $secondary;
      // color: white;
      border: 1px solid $secondary;
      margin: 0.5rem;
      .card-body {
        padding: 0.8rem;
      }
    }
  }

  .empty {
    flex: 1;
    display: flex;
    height: 50%;
    padding-top: 3em;
    font-style: italic;
    justify-content: center;
  }

  #activity-section {
    min-height: 500px;

    .form-group {
      margin-bottom: 1.5em;
    }
  }

  // Intermediate value readouts
  .readout {
    font-size: 1em;
  }

  .save-form {
    display: inline-flex;
    padding: 0;
    @include media-breakpoint-down(sm) {
      margin-top: 6px;
    }
  }

  // Tooltip button/badge styles
  .form-group {
    .label-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    label {
      @include font-size($input-font-size-lg);
    }

    .badge {
      cursor: pointer;
      border-radius: 12px;
      width: 20px;
    }
  }

  #points-row .col-md-12 {
    margin-bottom: 0;
  }
  
  .form-group {
    .text-muted {
      font-size: 1em;
    }
  }

  .form-buttons {
    > .btn {
      margin: 0 5px;
    }
  }

  $sticky-z-index: 100;

  .sticky {
    z-index: $sticky-z-index;
    padding-bottom: 0;
  }
  // Make sure to put the location sidebar above the floating points display
  #location {
    @include media-breakpoint-up(lg) {
      z-index: $sticky-z-index + 1;
    }
  }

  .scrolled-past.has-points {
    position: fixed;
    bottom: 0;
    margin-right: auto;
  }
  

  .risk-dangerous { background-color: $thermometer-dark-red; color: #fff; }
  .risk-very-high { background-color: $thermometer-red; }
  .risk-high { background-color: $thermometer-orange; }
  .risk-moderate { background-color: $thermometer-yellow; }
  .risk-low { background-color: $thermometer-light-green; }
  .risk-very-low { background-color: $thermometer-green; }



  .text-risk-dangerous { color: $thermometer-dark-red; }
  .text-risk-very-high { color: $thermometer-red; }
  .text-risk-high { color: $thermometer-orange; }
  .text-risk-moderate { color: $thermometer-yellow; }
  .text-risk-low { color: $thermometer-light-green; }
  .text-risk-very-low { color: $thermometer-green; }

  .top-half-card {
    background: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 1.25rem;
    box-shadow: 0 -2px 6px 0px rgba(0,0,0,0.15);

    @include media-breakpoint-down(sm) {
      padding: 0.8rem;
    }

    // Thermometer Credit. Adapted from: Copyright (c) 2020 COVID-19 Projections. https://github.com/covid-projections/covid-projections/

    $thermometer-width: 30px;
    $thermometer-border: 4px;
    $thermometer-corners: 10px;
    $thermometer-mobile-width-reduction: 10px;


    @include font-size(1.3rem);
    @include media-breakpoint-down(sm) {
      @include font-size(1rem);
    }
    @media (max-width: 321px) {
      // iPhone size
      @include font-size(0.9rem); 
    }


    .thermometer-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: $thermometer-width; 
      
      :first-child {
        border-radius: $thermometer-corners $thermometer-corners 0px 0px;
      }

      :last-child {
        border-radius: 0px 0px $thermometer-corners $thermometer-corners ;
      }

      .thermometer-piece {
        display: flex;
        flex-direction: row;
        height: 20px;
        width: $thermometer-width;
        align-self: center;
        @include media-breakpoint-down(sm) {
          width: $thermometer-width - $thermometer-mobile-width-reduction;
          height: 20px - 3;
        }
      }

      .thermometer-piece.current-level {
        width: $thermometer-width + $thermometer-border;
        border: $thermometer-border solid black;
        @include media-breakpoint-down(sm) {
          width: $thermometer-width + $thermometer-border - $thermometer-mobile-width-reduction;
          border-width: $thermometer-border - 1;
        }
      }

      .risk-icon {
        width: 100%;
        @include media-breakpoint-up(md) {
          width: 130%;
        }
        height: auto;
        vertical-align: top;
        margin: 3px 0 0 0;
        border-radius: 0;
      }
    }


    .points-container {
      margin-left: 0.5em;
      line-height: 1;
      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }
    }

    .risk-level {
      display: inline-block;
      padding: 2px 10px;
      border-radius: 8px;
      margin-left: 5px;
      color: black;
      font-weight: bold;
      margin-bottom: 0.2em;
      @include font-size(1.2em);
      line-height: 1.5;
      &.risk-dangerous {
        color: #fff
      }
    }
    .budget-consumption {
      margin-left: 15px;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      font-weight: bold;
    }
    .points {
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      margin-left: 15px;
      font-size: 0.8em;
    }
    .points-range {
      color: $secondary;
      font-weight: normal;
    }

  }

  

  .explanation .card {
    border: 1px solid $border-color;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

}



// Whitepaper

.paperPage {
  font-size: 18px;
  line-height: 30px;
  max-width: 850px;

  h1 { color: $primary}

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab';
    font-weight: 700;
    margin-top: 2.4rem;
    margin-bottom: 1.3rem;

    // Flip text and anchor links left-to-right
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;

    a {
      opacity: 0;
    }

    &:hover {
      a {
        display: initial;
        opacity: 1;
        padding-left: 5px;
      }
    }
  }

  p, ul {
    margin-bottom: 1.6rem;
  }

  .warning {
    border: 2px solid $warning-border;
    padding: 10px;
    margin: 2.4rem -12px 1.6rem -12px;
    background-color: $warning-fill;
    h2:first-child { margin-top: 0; }
    p:last-child { margin-bottom: 0; }
  }

  code {
    color: $cyan;
  }

  .pageTitle {
    margin-top: 0;
    margin-bottom: 0;
  }

  .sectionIndicator {
    margin-bottom: 0;
    color: $gray-500;
    font-size: 18px;
    font-weight: 700;
    font-family: $font-family-sans-serif;
  }

  .navigation {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;

    a {
      color: $gray-800;
      text-decoration: none;

      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }

    .next {
      text-align: right;
    }
  }

  table {
    margin: 40px 0;
    table-layout: fixed;
  }

  th {
    border-bottom: 1px solid $gray-500;
  }

  td, th {
    border-right: 1px solid $gray-500;
    padding: 10px;
    @include desktop {
      min-width: 200px;
    }

    &:last-child {
      border-right: none;
    }
  }

  tr:nth-child(2n) {
    background: $gray-200;
  }

  .calloutText {
    text-align:center;
    font-size:1.5em;
    line-height: 1.5em;
    margin: 30px 50px;
    padding: 15px;
    border-radius: 10px;
    background: #eee;
  }

  ol.toc {
    margin: 20px 0;

    a {
      padding-left: 3px;
      text-decoration: none;
    }
  }

  hr.footnotes-sep {
    margin: 40px 0;
  }
  section.footnotes {
    font-size: 14px;
    max-width: 600px;
  }
}
