@import '~styles/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';
@import '~rfs/scss';

$sticky-z-index: 100;

.sticky {
  z-index: $sticky-z-index;
  padding-bottom: 0;
}

// Make sure to put the location sidebar above the floating points display
#location {
  @include media-breakpoint-up(lg) {
    z-index: $sticky-z-index + 1;
  }
}

.scrolled-past.has-points {
  position: fixed;
  bottom: 0;
  margin-right: auto;
}

.risk-dangerous {
  background-color: $thermometer-dark-red;
  color: #fff;
}
.risk-very-high {
  background-color: $thermometer-red;
}
.risk-high {
  background-color: $thermometer-orange;
}
.risk-moderate {
  background-color: $thermometer-yellow;
}
.risk-low {
  background-color: $thermometer-light-green;
}
.risk-very-low {
  background-color: $thermometer-green;
}

.text-risk-dangerous {
  color: $thermometer-dark-red;
}
.text-risk-very-high {
  color: $thermometer-red;
}
.text-risk-high {
  color: $thermometer-orange;
}
.text-risk-moderate {
  color: $thermometer-yellow;
}
.text-risk-low {
  color: $thermometer-light-green;
}
.text-risk-very-low {
  color: $thermometer-green;
}

#calculator .top-half-card {
  background: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 1.25rem;
  box-shadow: 0 -2px 6px 0px rgba(0, 0, 0, 0.15);

  @include media-breakpoint-down(sm) {
    padding: 0.8rem;
  }

  // Thermometer Credit. Adapted from: Copyright (c) 2020 COVID-19 Projections. https://github.com/covid-projections/covid-projections/

  $thermometer-levels: 6;
  $thermometer-width: 30px;
  $thermometer-border: 4px;
  $thermometer-corners: 10px;
  $thermometer-mobile-width-reduction: 10px;

  @include font-size(1.3rem);
  @include media-breakpoint-down(sm) {
    @include font-size(1rem);
  }
  @media (max-width: 321px) {
    // iPhone size
    @include font-size(0.9rem);
  }

  .thermometer-container {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    max-width: $thermometer-width;
    @include media-breakpoint-down(sm) {
      height: 85px;
    }

    :first-child {
      border-radius: $thermometer-corners $thermometer-corners 0px 0px;
    }

    :last-child {
      border-radius: 0px 0px $thermometer-corners $thermometer-corners;
    }

    .thermometer-piece {
      display: flex;
      flex-direction: row;
      height: (100% / $thermometer-levels);
      width: $thermometer-width;
      align-self: center;
      @include media-breakpoint-down(sm) {
        width: $thermometer-width - $thermometer-mobile-width-reduction;
      }
    }

    .thermometer-piece.current-level {
      width: $thermometer-width + $thermometer-border;
      border: $thermometer-border solid black;
      @include media-breakpoint-down(sm) {
        width: $thermometer-width + $thermometer-border -
          $thermometer-mobile-width-reduction;
        border-width: $thermometer-border - 1;
      }
    }

    .thermometer-piece.risk-override {
      border-bottom: 1px solid white;
    }
  }

  .risk-icon {
    color: white;
    margin: 2px 8px -2px 0;
    vertical-align: baseline;
  }

  .points-container {
    margin-left: 0.5em;
    line-height: 1;
    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }

  .risk-level {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 8px;
    margin-left: 5px;
    color: black;
    font-weight: bold;
    margin-bottom: 0.2em;
    @include font-size(1.2em);
    line-height: 1.5;
    &.risk-dangerous {
      color: #fff;
    }
  }
  .budget-consumption {
    margin-left: 15px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-weight: bold;
    .points-range {
      font-size: 0.8em;
    }
  }
  .points {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-left: 15px;
    font-size: 0.8em;
    font-weight: bold;
  }
  .points-range {
    color: $secondary;
    font-weight: normal;
  }
}
