@import '~styles/variables.scss';

#prevalence-details {
  .prevalence-result.card {
    height: auto;
    border: 1px solid $secondary;
    margin: 0.5rem;
    .card-body {
      padding: 0.8rem;
    }
  }
}
